*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.header{
    background-color: black;
    height: 50px;
    /* width: 100%; k cần set c.dài vì 
    thẻ div mặc định có c.dài bằng trang web*/
}

.header .logo{
    display: inline-block;
    padding: 8px;
}

.header .logo:hover{
    background-color: firebrick;
}

.header .logo a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}

/*từ home -> more*/
.header .nav{
    display: flex; /*giúp nav chạy ngang*/
    float: right; 
    list-style-type: none; /*bỏ dấu chấm đằng trc*/
}
/*display flex và float right/left đều giúp nav 
chạy ngang được nhưng flex tiện hơn float vì nếu
dùng float phải dùng thêm clear*/

.header .nav li{
    padding:13px 17px;
}

.header .nav li a{
    color:white;
    text-decoration:none;
    text-transform: uppercase;
    font-size: 20px;
}

.header .nav >li:hover{
    background-color: yellow;
    
}

.header .nav >li:hover a{
    color: black;
}

.header .nav .xemthem:hover{
    position: relative;
}

.header .nav .xemthem:hover .subnav{
    position: absolute;
    top: 100%; /* = chiều cao ô MORE*/
    /* display: none; */
    z-index: 1; /*giúp subnav nổi lên 
    1 tầng so vs bg img*/
}

/*khi hover ô MORE thì các dòng trong subnav 
có chữ màu trắng*/
.header .nav .xemthem:hover li a{
    color: white;
}

.header .nav .subnav{
    position: absolute;
    right: 0; /*giúp subnav gắn sát cạnh phải*/
    /* top: 100%; */
    /* display: none; */
    /* z-index: 1; */
    list-style-type: none;
    width: 139px;
}

/*khi hover dòng nào trong subnav thì 
dòng đấy có bg màu vàng*/
.header .nav .subnav li:hover{
    background-color: yellow;
}

/*khi hover dòng nào trong subnav thì 
dòng đấy có chữ màu đen*/
.header .nav .subnav li:hover a{
    color: black;
}

.slider{
    background: url('/assets/img/5f6bfa6ee3297.image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    position: relative;
}

/* phủ lớp mờ xám trước ảnh */
.slider::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
}

.slider .loichao{
    position: absolute;
    top:40%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: whitesmoke;
}

.slider .but{
    position: absolute;
    top:50%;
    width: 100%;
    text-align: center;
}

.slider button:hover{
    cursor:pointer;
}

.slider button{
    padding: 10px;
    background: none;
    color: whitesmoke;
    font-size: 20px;
}


.about{
    width: 800px;
    height: 610px;
    margin: 30px auto;
}

.heading{
    text-align: center;
    color: green;
    font-size: 30px;
    font-weight: 700;
}

.texting{
    margin-top: 6px;
    font-size:20px;
    text-align: center;
}

.about img{
    margin-top: 20px;
    margin-left: 32%;
}

.about .leader{
    text-align: center;
    color: green;
}

.event{
    height: 800px;
    background-color: black;
}

.trienlam{
    text-align: center;
    color: white;
}

.event .heading{
    padding-top: 50px;
    color: white;
    font-size: 40px;
}

.event .texting{
    color: white;
}

.ticket-list{
    width: 800px;
    background-color: white;
    margin: 40px auto 20px auto;
    list-style: none;

}

.ticket-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out{
    background-color: #f44336;
    color: white;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity{
    background-color: #2ecc71;
    color: white;
    padding: 3px 4px;
    margin-left: 16px;
}

/*place bên The Band */
.place-list{
    margin-top: 32px;
    margin-left: 350px;
}

.place-item{
    float:left;
    width: 22%; /*độ rộng mỗi ảnh theo độ rộng trang web*/
    padding: 0 8px;
}

.place-img{
    display: block; /*cho ảnh thuộc tính block để set rộng dài*/
    width: 100%;
    height: 250px; /*cho tất cả ảnh cao như nhau*/
}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
    padding: 16px;
    font-size: 15px;
    background-color: white;
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}

.place-buy-buttn{
    color: #fff;
    background-color: black;
    padding: 11px 16px;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
}

.place-buy-buttn:hover{
    color: #000;
    background-color: #ccc;
}
/* The Band  */

.product{
    height: 500px;
}

/* begin modalcss */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay{
    background: rgba(0,0,0,0.5);
}

.modal:target{
    visibility: visible;
}

.modal-container{
    width: 700px;
    margin: 200px auto;
    /* border: 1px solid black; */
    position: relative;
}

.modal-container .modal-close{
    position: absolute;
    right: 0;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.modal-container .modal-close:hover{
    background-color: firebrick;
}

.modal-head{
    color: white;
    background-color: #27ae60;
    padding: 40px;
    text-align: center;
    font-size: 30px; 
}

.modal-body{
    padding: 20px;
    background-color: white;
}

.modal-body label{
    display: block;
    font-size: 18px;
    color: #348F50;
    margin-bottom: 5px;
}

.modal-body input{
    margin-bottom: 16px;
    width: 100%;
    padding: 5px 0;
}

.modal-body button{
    width: 100%;
    padding: 15px 0;
    margin-top: 20px;
    color: white;
    background-color: #27ae60;
    border: none;
    font-size: 20px;
}

.modal-body button:hover{
    background-color: darkgray;
    cursor: pointer;
}
/* end modal css */